<!-- show any messages that come back with validation -->

<% if(message) { %>
<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="alert alert-dismissable alert-danger">
      <strong>Failed to saved</strong>
      <ul>
        <% for(key in message.errors){ %>
            <li><%= message.errors[key].message %></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
<% } %>