body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.article {
    display:block;
    position:relative;
    background: rgba(0,0,0,0.85);
    margin: 30px auto;
    color:#FFF;
}
.article p {
    margin:30px;
}